@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p {
    line-height: 1.8;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: absolute;
    top: -100vh;
    width: 90%;
    margin: auto;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.0625rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}

nav.open {
    top: 6rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

nav ul li:nth-child(4) {
    display: none;
}

nav ul li:last-child {
    border-top: 1px solid hsl(207, 33%, 95%);
    padding-top: 1rem;
}

body {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: hsl(230, 29%, 20%);
    background-color: white;
    padding: 1.5rem;

}

.showcase {
    display: flex;
    flex-direction: column-reverse;
}

.showcase h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 2rem 0 1rem;
    letter-spacing: 0.3rem;
    color: hsl(231, 7%, 65%);
}

.showcase h2 span {
    background-color: hsl(230, 29%, 20%);
    color: white;
    padding: 0.2 0.8rem;
    border-radius: 30px;
    letter-spacing: 0;
}

h1, h2, li, .cta {
    font-family: "Barlow Condensed", sans-serif;

}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}